In [1]:
import pandas as pd
import numpy as np

In [3]:
mdf = pd.read_csv('../data/mercedes.csv')

In [4]:
mdf.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
len(mdf['X1'].unique())

27

In [6]:
df = pd.read_csv('../data/mercedes.csv', usecols=['X1', 'X2'])

In [7]:
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [8]:
df.shape

(4209, 2)

In [9]:
pd.get_dummies(df).shape

(4209, 71)

In [10]:
len(df.X1.unique())

27

In [11]:
len(df.X2.unique())

44

In [12]:
for col in df.columns:
    print(col, ': ', len(df[col].unique()), ' labels')

X1 :  27  labels
X2 :  44  labels

In [13]:
x2_dict = df.X2.value_counts().to_dict()

In [14]:
x2_dict

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'k': 25,
 'i': 25,
 'b': 21,
 'ao': 20,
 'ag': 19,
 'z': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'at': 6,
 'h': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'av': 4,
 'ah': 4,
 'p': 4,
 'au': 3,
 'am': 1,
 'af': 1,
 'o': 1,
 'aa': 1,
 'j': 1,
 'c': 1,
 'ar': 1,
 'l': 1}

In [15]:
df.X2 = df.X2.map(x2_dict)
df.head()

  X1   X2
0  v    6
1  t    4
2  w  137
3  t  137
4  v  137