In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
today = datetime.datetime.today()

In [3]:
df_date_list = [today - datetime.timedelta(days=x) for x in range(0,20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-11-01 12:55:28.128235
1  2020-10-31 12:55:28.128235
2  2020-10-30 12:55:28.128235
3  2020-10-29 12:55:28.128235
4  2020-10-28 12:55:28.128235
5  2020-10-27 12:55:28.128235
6  2020-10-26 12:55:28.128235
7  2020-10-25 12:55:28.128235
8  2020-10-24 12:55:28.128235
9  2020-10-23 12:55:28.128235
10 2020-10-22 12:55:28.128235
11 2020-10-21 12:55:28.128235
12 2020-10-20 12:55:28.128235
13 2020-10-19 12:55:28.128235
14 2020-10-18 12:55:28.128235
15 2020-10-17 12:55:28.128235
16 2020-10-16 12:55:28.128235
17 2020-10-15 12:55:28.128235
18 2020-10-14 12:55:28.128235
19 2020-10-13 12:55:28.128235

In [4]:
df['day_of_week'] = df.day.dt.day_name()
df.head(7)

                         day day_of_week
0 2020-11-01 12:55:28.128235      Sunday
1 2020-10-31 12:55:28.128235    Saturday
2 2020-10-30 12:55:28.128235      Friday
3 2020-10-29 12:55:28.128235    Thursday
4 2020-10-28 12:55:28.128235   Wednesday
5 2020-10-27 12:55:28.128235     Tuesday
6 2020-10-26 12:55:28.128235      Monday

In [5]:
weekday_map = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5,
    'Saturday': 6,
    'Sunday': 7
}

In [6]:
df['day_ordinal'] = df.day_of_week.map(weekday_map)
df.head()

                         day day_of_week  day_ordinal
0 2020-11-01 12:55:28.128235      Sunday            7
1 2020-10-31 12:55:28.128235    Saturday            6
2 2020-10-30 12:55:28.128235      Friday            5
3 2020-10-29 12:55:28.128235    Thursday            4
4 2020-10-28 12:55:28.128235   Wednesday            3